body {
  background: url('img/background.jpg') no-repeat 50% 50% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

h1 {
  /*font*/
  color: white;
  font-family: 'Open Sans';
  font-size: 75px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 44px;
  /*position*/
  margin-left: 85px;
  margin-bottom: 10px;
  padding-top: 185px;
  padding-bottom: 55px;
}

a {
  /*font*/
  color: white;
  font-family: 'Open Sans';
  font-size: 38px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 20px;
  text-decoration: none;
}

li {
  /*position*/
  margin-left: 46px;
  padding-top: 25px;
  padding-bottom: 25px;
}

td {
  /*animation*/
  transition:all 0.5s ease;
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
  transform:rotate(0deg) scale(1) skew(0deg) translate(0px);
  -ms-transform:rotate(0deg) scale(1) skew(0deg) translate(0px);
  -webkit-transform:rotate(0deg) scale(1) skew(0deg) translate(0px);
  -moz-transform:rotate(0deg) scale(1) skew(0deg) translate(0px);
  -o-transform:rotate(0deg) scale(1) skew(0deg) translate(0px);
}

/*Element Animations*/
td:hover {
  transform:rotate(0deg) scale(1) skew(0deg) translate(18px) ;
  -webkit-transform:rotate(0deg) scale(1) skew(0deg) translate(18px) ;
  -moz-transform:rotate(0deg) scale(1) skew(0deg) translate(18px) ;
  -o-transform:rotate(0deg) scale(1) skew(0deg) translate(18px) ;
  -ms-transform:rotate(0deg) scale(1) skew(0deg) translate(18px) ;
}
