body {
  background: url('img/background.jpg') no-repeat 50% 50% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

h1 {
  /*font*/
  color: white;
  font-family: 'Open Sans';
  font-size: 75px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 44px;

  /*position*/
  margin-left: 85px;
  margin-bottom: 10px;
  padding-top: 185px;
  padding-bottom: 55px;
}

li {
  /*position*/
  padding-left: 46px;
  padding-top: 25px;
  padding-bottom: 25px;
}

a {
  /*Font*/
  color: white;
  font-family: 'Open Sans';
  font-size: 38px;
  font-variant: normal;
  line-height: 20px;
  text-decoration: none;

  /*Hover Transition*/
  transition-duration: 0.5s;
  margin-left:0px;

  /*On Load Animation*/
  animation-name: loadLink 0.5s ease;
  -moz-animation-name: loadLink 0.5s ease;
  -o-animation-name: loadLink 0.5s ease;
  -webkit-animation-name: loadLink 0.5s ease;

  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
}

/*Hover Effect*/
a:hover {
  margin-left:18px;
}

/*On Load Animation*/
@keyframe loadLink {
  0% {opacity: 0; left: -100px;}
  100% {opacity: 1; left: 0px;}
}

@-moz-keyframe loadLink {
  0% {opacity: 0; left: -100px;}
  100% {opacity: 1; left: 0px;}
}

@-o-keyframe loadLink {
  0% {opacity: 0; left: -100px;}
  100% {opacity: 1; left: 0px;}
}

@-webkit-keyframe loadLink {
  0% {opacity: 0; left: -100px;}
  100% {opacity: 1; left: 0px;}
}
