body {
  /*Background*/
  background: url('img/background.jpg') no-repeat 50% 50% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

h1 {
  /*Font*/
  color: white;
  font-family: 'Open Sans';
  font-size: 75px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 44px;

  /*Position*/
  margin-left: 85px;
  margin-bottom: 10px;
  padding-top: 185px;
  padding-bottom: 55px;
}

li {
  /*Position*/
  padding-left: 46px;
  padding-top: 27px;
  padding-bottom: 27px;
}

a {
  /*Font*/
  color: white;
  font-family: 'Open Sans';
  font-size: 38px;
  font-variant: normal;
  line-height: 20px;
  text-decoration: none;

  /*Hover Transition*/
  transition-property: margin-left;
  transition-duration: 0.5s;
  margin-left:0px;
  margin-right: 0px;

  /*On Load Animation*/
  animation: loadLink 0.5s ease;
  -moz-animation: loadLink 0.5s ease;
  -o-animation: loadLink 0.5s ease;
  -webkit-animation: loadLink 0.5s ease;
}

/*Hover Effect*/
a:hover {
  margin-left:18px;
}

/*On Load Animation*/
@keyframes loadLink {
  from {opacity: 0; left: -100px;}
  to {opacity: 1; left: 0px;}
}

@-moz-keyframes loadLink {
  0% {opacity: 0; left: -100px;}
  100% {opacity: 1; left: 0px;}
}

@-o-keyframes loadLink {
  0% {opacity: 0; left: -100px;}
  100% {opacity: 1; left: 0px;}
}

@-webkit-keyframes loadLink {
  0% {opacity: 0; left: -100px;}
  100% {opacity: 1; left: 0px;}
}
